<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Hello, world!</title>

  <style>
    body {
      background-color: #343a40;
    }
    /* Set the size of the div element that contains the map */
    #map {
      height: 800px;
      /* The height is 400 pixels */
      width: 100%;
      /* The width is the width of the web page */
    }
    .nav-item.dropdown {
      background-color: #222831;
    }
    .nav-item.dropdown:hover {
      background-color: #393e46;
    }
    .extra-padding.h2 {
      padding-left: 50%;
    }
    .extra-padding.nav-item {
      padding-left: 20%;
      font-size: 30px;
    }
    a {
      color: white;
    }
    a:hover {
      color: white;
    }
    /* .nav-link{
      padding-left: 0;
      padding-right:0;
    } */
    .sidebar {
      background-color: #393e46;
    }
    .list-heading {
      color: white;
    }
    .home-btn {
      background-color: #393e46;
      border: none;
    }
    .container-padding-top {
      padding-top: 64px;
    }
    a.spotifyLink{
      color:black;
      font-size: 20px;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="nav-link" href="/create-playlists">Geo-Playlists</a>

    <div class=" d-flex flex-column flex-md-row justify-content-between">

      <a class="nav-link" href="/set-location">Set Location</a>

    </div>

    <input class="form-control form-control-dark w-50" type="text" placeholder="Search Location" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid container-padding-top">

    <div class="row">
      <nav class="col-2 d-none d-md-block bg-dark sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item nav-justified extra-padding list-heading">
              Personal
            </li>
            <ul class="nav nav-pills nav-justified">
              <%  playlists.forEach(function(playlist){ %>
                <button type="button" name ="<%= playlist.name %>" class="btn btn-block btn-primary"><%= playlist.name %></button>

              <% }) %>

            </ul>
          </ul>

        </div>
      </nav>


      <div id="map" class="col-10">
      </div>


    </div>

  </div>


  <script>
    let playlists = <%- JSON.stringify(playlists, null, 2) %>;
    var map;

    function initMap() {
      let centerCoordinates = {
          lat: 37.7739,
          lng: -122.4312,
        }

      map = new google.maps.Map(document.getElementById('map'), {
        center: centerCoordinates,
        zoom: 5
      });
      // const filteredPlaylists = playlists.filter(playlist => {
      //   const bothDefined = typeof playlist.longitude === 'string' && typeof playlist.latitude === 'string'
      //   return bothDefined;
      // })

      // filteredPlaylists.forEach(function (playlist, index) {
        playlists.forEach(function (playlist, index) {
        // make a marker
        const coordinates = {
          lat: parseFloat(playlist.latitude),
          lng: parseFloat(playlist.longitude),
        };

        //infowindow content
        var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h3 id="firstHeading" class="firstHeading">'+ playlist.name +'</h3>'+
      '<div id="bodyContent">'+
      '<h6>'+ playlist.playlistName+'</h6>'+
      '<p>'+ playlist.song.toString()+'</p>'+
      '<p> <a class ="spotifyLink" href="https://open.spotify.com/browse/featured">'+
      'Click here for Spotify</a> '+'</p>'+
      '</div>'+
      '</div>';



        var marker = new google.maps.Marker({
          position: coordinates,
          map: map,
          title: playlist.name
        });
        // make an infowindow
        var infowindow = new google.maps.InfoWindow({
          //playlist.name
          content: contentString,
          position: coordinates
        });
        // register click event
        marker.addListener('click', function () {
          infowindow.open(map, marker);
        });
      })
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALsgdm03NOhsR-t7zGnXOdZ6ZaTtYgQBI&callback=initMap">

  </script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script>

    $( document ).ready(function() {
      let playlists = <%- JSON.stringify(playlists, null, 2) %>;

      $('.btn-block').on('click', function (event) {
        // update the centerCoordinates
        const name = event.target.name;
        const matchingPlaylist = playlists.find(playlist => playlist.name === name);

      //  map.setCenter(new google.maps.LatLng(matchingPlaylist.latitude, matchingPlaylist.longitude));
        map.setCenter({lat: matchingPlaylist.latitude, lng: matchingPlaylist.longitude});






      });
    });
  </script>
</body>

</html>
