<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Set-Location</title>
  <style>
    .form {
      padding-top: 64px;
    }
    .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        input[type="text"] {

      width:30%;
  }
  a {
    color: white;
  }
  a:hover {
    color: white;
  }


  th{
    width: 250px;
  }
  .home-btn{
    background-color: #393e46;
    border: none;
  }
  #set-location-table{
    margin-top: 4%;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>


</head>

<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">


    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="nav-link" href="/create-playlists">Geo-Playlists</a>

      <div class="container d-flex flex-column flex-md-row justify-content-between">

        <a class="nav-link" href="/browse-map">Browse Map</a>
        <a class="nav-link" href="/set-location">Set Location</a>
        <a class="nav-link" href="/">Sign out</a>
      </div>
    </nav>

</nav>

  <form class="form" action="/api/update-location" method="post">
    <table class="table">
      <tbody >
        <tr>
          <th scope="row">Playlist</th>
          <td>
            <select name="playlist-id">
              <option value="">select a playlist</option>
              <% playlists.forEach(function (playlist) { %>
                <option value="<%= playlist._id %>"><%= playlist.name %></option>
              <% }) %>
            </select>
          </td>
        </tr>
        <tr>
          <th>Latitude</th>
          <td><input type="text" name="latitude" value=""></td>
        </tr>
        <tr>
          <th scope="row">Longitude</th>
          <td><input type="text" name="longitude" value=""></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" type="submit">Set Location</button>
  </form>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    const playlists = <%- JSON.stringify(playlists, null, 2) %>
    $( document ).ready(function() {
      const latitudeInput = $('input[name=latitude]');
      const longitudeInput = $('input[name=longitude]');
      $('select').on('change', function (event) {
        // update the latitude and longitude input fields
        const id = event.target.value;
        const matchingPlaylist = playlists.find(playlist => playlist._id === id);
        latitudeInput.val(matchingPlaylist.latitude);
        longitudeInput.val(matchingPlaylist.longitude);
      });
    });
  </script>
</body>

</html>
